<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Project Search
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-project-search></app-project-search>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Site Project Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-site-project-details></app-site-project-details>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                PO Request Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-po-request-details></app-po-request-details>
    </mat-expansion-panel>
</mat-accordion>


